@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --accent-color: #f17b47;
    --base-color: #FFF5E4;
    --text-color: #151f1b;
    --input-color: #F4A261;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Funnel Sans", sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body{
    min-height: 100vh;
}

.wrapper{
    background-color: var(--base-color);
    height: 100vh;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
    font-weight: 900;
}

form{
    width: min(400px, 100%);
    margin-top:20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

form label{
    flex-shrink: 0;
    height: 57px;
    width:50px;
    background-color: var(--accent-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 57px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--accent-color);

    transition: 150ms ease;
}

form input:hover{
border-color: var(--text-color);
}

form input:focus{
    outline: none;
    border-color: #6A9C89;
}

div:has(input:focus) > label{
    background-color: #6A9C89;
}

form input::placeholder{
    color: var(--text-color);
}

form select{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 57px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--accent-color);

    transition: 150ms ease;
}

form select:hover{
border-color: var(--text-color);
}

form select:focus{
    outline: none;
    border-color: #6A9C89;
}

div:has(select:focus) > label{
    background-color: #6A9C89;
}

form select::placeholder{
    color: var(--text-color);
}

form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
    color: white;
}

form button:hover{
    background-color: var(--text-color);
}

form button:focus{
    outline: none;
    background-color: var(--text-color);
}

a{
    text-decoration: none;
    color: var;
}

.community-login-button{
    margin-bottom: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
    color: white;
}

a:hover{
    text-decoration: underline;
}

@media(max-width: 1000px){
    .wrapper{
        width: min(600px, 100%);
        border-radius: 0;
    }
}

form div.incorrect{
    background-color: #e44444;
    border-radius: 10px 10px 10px 10px;
}

#error-message{
    color:#e44444;
}

p {
    margin: 4px
}